// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
// $font-family-sans-serif: 'Share Tech', sans-serif;
$font-family-sans-serif: 'Share Tech Mono', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

/* Color Theme Swatches in Hex */
$Graphic-Design-1-hex: #24324F;
$Graphic-Design-2-hex: #457ABF;
$Graphic-Design-3-hex: #1CA68A;
$Graphic-Design-4-hex: #FFD769;
$Graphic-Design-5-hex: #FF3E4C;

// Colors
$blue: $Graphic-Design-1-hex;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: $Graphic-Design-5-hex;
$orange: #f6993f;
$yellow: $Graphic-Design-4-hex;
$green: $Graphic-Design-3-hex;
$teal: #4dc0b5;
$cyan: $Graphic-Design-2-hex;

// $body-bg:                   $gray-800;
// $body-color:                $Graphic-Design-1-hex;

// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;



